<div class="home-intro">
    <div class="jumbo">About this (sub)site</div>
        <p>This is a digital garden, which (I think) means a collection of interlinked notes.</p>
        <p>Type a random letter of the alphabet into the search bar 👇 and just start clicking.</p>

        <!-- search bar -->
        <div class="block">
            <input class="input is-medium" type="text" placeholder="Search notes.." id="search-input" autocomplete="off">
            <div id="search-results" class="search-results"></div>
        </div>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/Search.js"></script>
        
        <p>If you want to know more about me, you should visit <a href="https://briandavidhall.com/">my main site</a> or <a href="https://bdh.wtf/">my linktree</a>, or just <a href="https://briandavidhall.com/contact/">reach out</a>.</p>

    </div> 
</div>

